.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 70vh;
  .title {
    color: #1677ff;
  }
  .link {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 5px;
  }
}
