.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 70vh;
  h2 {
    color: #1677ff;
  }
  .link {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 5px;
  }
}

.title {
  text-transform: uppercase;
  color: #1677ff;
}
