.about {
  .about__title {
    font-size: 22px;
  }
  .about__text {
    font-size: 14px;
    line-height: 24px;
  }
}

@media (max-width: 905px) {
  .about {
    .about__title {
      font-size: 20px;
    }
    .about__text {
      font-size: 12px;
      line-height: 17px;
    }
  }
}