.comments {
  display: flex;
  justify-content: start;
  flex-direction: column;
  gap: 10px;
  width: 100%;
  .title {
    margin: 0;
  }
  .wrapper {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    gap: 20px;
    .comPag {
      display: flex;
      align-items: center;
    }
  }
}

.loader {
  font-size: 25px;
  display: flex;
  align-items: center;
  justify-content: end;
  height: 30vh;
  width: 70vh;
}

@media (max-width: 760px) {
  .loader {
    height: 40vh;
    width: 50vw;
  }
}

@media (max-width: 500px) {
  .comments {
    .wrapper {
      .comPag {
        justify-content: center;
      }
    }
  }
}
