.main {
  border-radius: 5px;
  background-color: white;
  
  width: 35%;
  padding: 10px 15px;
  margin: 0 auto;
  .nothing {
    text-align: center;
    text-transform: uppercase;

    padding: 10px 5px;
  }
}