.study {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
  .title {
    font-size: 22px;
  }
  .place {
    margin-top: 5px;
    .place_title {
      font-size: 16px;
      font-weight: 700;
    }
    .place_dir {
      font-size: 13px;
    }
    .place_time {
      font-size: 12px;
    }
  }
}

@media (max-width: 905px) {
  .study {
    gap: 10px;
    .title {
      font-size: 20px;
    }
    .place {
      .place_title {
        font-size: 14px;
      }
      .place_dir {
        font-size: 10px;
      }
      .place_time {
        font-size: 9px;
      }
    }
  }
}

@media (max-width: 413px) {
  .study {
    gap: 0px;
  }
}