.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 70vh;
  .title {
    color: #1677ff;
  }
  .form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    .btns {
      display: flex;
      align-items: center;
      justify-content: space-between;
    }
    .link {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
    }
  }
}
