.wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0 15px;
  .card {
    border: 1px solid black;
    max-width: 70%;
    span {
      cursor: pointer;
      transition: 0.3s;
      &:hover {
        transform: scale(1.1);
        color: #1677ff;
        border-color: #1677ff;
      }
      &:active {
        transform: scale(0.9);
      }
    }
  }
}
