.experience {
  max-width: 40%;
  padding-right: 30px;
  border-right: 2px solid black;
  .container {
    .body {
      .title {
        font-size: 22px;
      }
    }
  }
}

@media (max-width: 905px) {
  .experience {
    padding-right: 20px;
    .container {
      .body {
        .title {
          font-size: 20px;
        }
      }
    }
  }
}

@media (max-width: 680px) {
  .experience {
    max-width: 100%;
    padding-right: 0;
    border: 0;
  }
}