.experience {
  max-width: 40%;
  padding-right: 30px;
  border-right: 1px solid black;
  .experience__container {
    .experience__body {
      .experience__title {

      }
      .experience__list {
          
      }
    }
  }
}