.tech {
  .title {
    font-size: 22px;
  }
  .stack {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    gap: 5px;
    .name {
      text-transform: uppercase;
      display: inline;
      border-radius: 10px;
      padding: 5px  10px;
      color: white;

      transition: .5s;
      &:hover {
        transform: scale(1.1);
      }
    }
    .html {
      background-color: orangered;
    }
    .css {
      background-color: rgb(0, 132, 255);
    }
    .sass {
      background-color: rgb(176, 114, 184);
    }
    .js {
      color: black;
      background-color: yellow;
    }
    .node {
      background-color: green;
    }
    .ts {
      background-color: rgb(0, 132, 255);
    }
    .react {
      background-color: rgb(0, 132, 255);;
    }
    .jest {
      background-color: rgb(148, 60, 156);
    }
    .webpack {
      background-color: rgb(0, 132, 255);
    }
    .gulp {
      background-color: rgb(224, 34, 34);
    }
    .git {
      background-color: rgb(224, 0, 0);
    }
    .github {
      background-color: rgb(0, 0, 0);
    }
    .figma { 
      background-color: rgb(255, 0, 0);
    }
  }
}

@media (max-width: 905px) {
  .tech {
    .title {
      font-size: 20px;
    }
    .stack {
      .name {
        font-size: 12px;
        padding: 5px;
      }
    }
  }
}