.form {
  display: flex;
  flex-direction: column;
  justify-content: space-between;

  overflow: hidden;
  
  border-radius: 10px;
  border: 1px solid rgb(0, 0, 0);
  .button {
    background-color: rgb(0, 119, 255);
    border: 0;
    border-radius: 0 0 10px 10px;
    
    padding: 5px 10px;
  }
}