.contacts {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  .title {
    font-size: 22px;
  }
  .list {
    display: flex;
    gap: 10px;
    .item {
      font-size: 15px;
      transition: .5s;
      &:hover {
        transform: scale(1.1);
      }
      &:active {
        transform: scale(0.9);
      }
      .link {
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        text-transform: uppercase;
        text-align: center;
        font-size: 14px;
        padding: 5px 15px;
        border-radius: 10px;
        text-decoration: none;
      }
      .github {
        background-color: black;
        color: white;
      }
      .linkedin {
        background-color: rgb(0, 127, 212);
        color: white;
      }
      .telegram {
        background-color: rgb(0, 127, 212);
        color: white;
      }
      .gmail {
        background-color: rgb(190, 45, 45);
        color: white;
      }
    }
  }
}

@media (max-width: 905px) {
  .contacts {
    display: flex;
    gap: 10px;
    .title {
      font-size: 20px;
    }
    .list {
      display: flex;
      flex-wrap: wrap;
      gap: 5px;
      .item {
        font-size: 10px;
        .link {
          font-size: 11px;
          padding: 5px;
        }
      }
    }
  }
}

@media (max-width: 408px) {
  .contacts {
    gap: 0;
  }
}